/* Jan-Erik Kämäräinen */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap");

/* Background gradient */
body {
    background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
    background-size: 200% 200%;
    background-repeat: no-repeat;
}

main {
    font-family: "Roboto", sans-serif;
}

.container {
    background-color: rgba(255, 255, 255, 0.5) !important;
    border-radius: 10px;
}

.card {
    border-style: none !important;
}

#questionImage {
    width: 55rem !important;
}

.jk-badge-blue {
    background-color: #6078e2;
}

/* Answer button */
.jk-btn {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    letter-spacing: 0.03rem;
    background: #5e94f8;
    text-align: center;
    border-radius: 6px;
    background-size: 200% auto;
    display: block;
}

/* Gradient for correct answer button */
.jk-btn-gradient-correct {
    background: linear-gradient(
        to right,
        #548548 0%,
        #446941 51%,
        #53ac71 100%
    );
    text-align: center;
    border-radius: 6px;
    background-size: 200% auto;
    display: block;
}

/* Gradient for wrong answer button */
.jk-btn-gradient-wrong {
    background: linear-gradient(
        to right,
        #d63d3d 0%,
        #642121 51%,
        #9c2d2d 100%
    );
    text-align: center;
    border-radius: 6px;
    background-size: 200% auto;
    display: block;
}
