body {
    background: linear-gradient(230deg, #c2794f, #744183, #3a73a1);
}

.container {
    background-color: rgba(255, 255, 255, 0.5) !important;
    border-radius: 10px;
}

.card {
    border-style: none !important;
}

#questionImage {
    width: 55rem !important;
}
