/* Jan-Erik Kämäräinen */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap");

:root {
    --color-bg: #ffffff;
    --color-card: #5e84ca;
    --color-circle: #2b4b88;
    --color-circle-hover: #003663;
    --color-circle-hover-text: #6cbb11;
    --color-text: #000000;
}

body {
    background: var(--color-bg);
    color: var(--color-text);
}

main {
    font-family: "Roboto", sans-serif;
}

a {
    color: var(--color-text);
}

.card {
    padding-bottom: 3em;
    background-color: var(--color-card);
    color: var(--color-text);
    text-align: center;
    border-radius: 10;
    border-style: none;
}

.user-img {
    font-size: 5em;
}

.choice {
    background-color: var(--color-circle);
    color: var(--color-text);
    border: none;
    border-radius: 8px;
}

.clicked {
    background-color: var(--color-circle-hover);
}
