/* Jan-Erik Kämäräinen */

@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

:root {
    --color-card: #004743;
    --color-choice: #002f31;
    --color-choice-hover: #002125;
    --color-text: #ffffff;
}

body {
    /* Background gradient */
    background: linear-gradient(to top, #093028, #237a57);
    background-size: 100% 100%;
    color: var(--color-text);
}

main {
    font-family: "Patrick Hand", sans-serif;
}

a {
    color: var(--color-text);
}

.card {
    background-color: var(--color-card);
    color: var(--color-text);
    border-radius: 10;
    border-style: none;
    text-align: center;
}

.user-img {
    font-size: 5em;
}

.choice {
    background-color: var(--color-choice);
    border: none;
    border-radius: 8px;
}

.clicked {
    background-color: var(--color-choice-hover);
}

/* Class to animate elements on page load */
.animateOnLoad {
    opacity: 0;
}

@media (hover: hover) {
    .choice:hover {
        background-color: var(--color-choice-hover);
    }
}
