@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

/* Riku Honkamäki*/


/* Määritetään taustavärit */
:root {
    background-color: #97be77;
}

body {
    background-color: #97be77;
}

footer {
    background-color: #97be77;
}

/* Siirretään otsikkoa vähän kauemmas navbaarista */
h1 {
    padding-top: 20px;
}

/* tällä piilotetaan tulos-sivu*/
.loppuTulos {
    display: none;
}
/* tällä piilotetaan kysymykset kun tulos-sivu tuodaan esiin */
.not_visible {
    display: none;
}
/* Erikois fontti matikkavisan esittelyä varten */
div h5 {
    font-family: 'Patrick Hand', cursive;
}
